@model HomeVM
<footer>
    <div class="bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="txt">
                        <a href="">@Model.Setting.HeaderLogo</a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="list">
                        <h4>
                            ABOU US
                        </h4>
                        <ul class="list-unstyled">
                            <li>About Us</li>
                            <li>Features Item</li>
                            <li>Live Streaming</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="list">
                        <h4>
                            ABOU US
                        </h4>
                        <ul class="list-unstyled">
                            <li>About Us</li>
                            <li>Features Item</li>
                            <li>Live Streaming</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="list">
                        <h4>
                            SUPPORT
                        </h4>
                        <ul class="list-unstyled">
                            <li>Faq</li>
                            <li>Editor Help</li>
                            <li>Contact Us</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="list">
                        <h4>
                            ABOU US
                        </h4>
                        <ul class="list-unstyled">
                            <li>About Us</li>
                            <li>Features Item</li>
                            <li>Live Streaming</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy text-center">
        <p>
            © Copyrights eStartup. All rights reserved. <br>

            Designed by <a style="color:#71C55D ;" href="#">BootstrapMade</a>
        </p>
    </div>
</footer>